# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Yuki Orikasa
email = yuki.wter@gmail.com

[alias]
discardall = reset --hard HEAD
discardfile = checkout HEAD --
c = checkout

today = log --oneline --all --author='Yuki\\sOrikasa' --since='6am' --format=format:'- [x] %s'
